<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add 
      name="DatabaseConnection" 
      connectionString="Data Source=localhost,1433; Initial Catalog=DB_DESAFIO_DOTNET; User Id=sa; Password=1q2w3e4r@; Integrated Security=True"
      providerName="System.Data.SqlClient" 
    />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>